* {
    list-style:none;
    padding: 0;
    margin: 0;
    text-decoration-line: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}

img{
    width: 100%;
}

ul,li {
    list-style: none;
}





header, main, footer{
    width: 1903px;
}

.content_box{
    width: 1400px;
    margin: 0 auto;
}







header {
    padding-bottom: 15px;
}

.header_top {
    padding: 20px 0;
}

.header_top .logo {
    float: left;
    width: 150px;
    z-index: 30;
}

.header_top .logo > img{
    z-index: 31;
}


.icon_area {
    float: right;
}

.icon_area > a{
    float: left;
    margin-right:60px;
    width: 30px;
}

.icon_area > img{
    vertical-align: bottom;
}






.nav_area{
    position: relative;
    font-size: 0;
    z-index: 30;
}

.nav_area > ul{
    display: inline-block;
    height: 50px;
    overflow: hidden;
    z-index: 30;
}

.nav_area > ul:hover{
    overflow: visible;
}

.nav_area > ul:hover + div{
    height: 350px;
    opacity: 1;
}

.nav_area ul + div{
    position: absolute;
    left: 0;
    top: 0;
    width: 1903px;
    height: 0;
    background: rgb(255, 255, 255);
    transition: all 0.3s;
    opacity: 1;
}

.nav_area > ul > li{
    float: left;
    text-align: center;
    position: relative;
    z-index: 30;
}

.nav_area > ul > li:first-child{
    margin-left: 230px;
}

.nav_area > ul > li > a{
    display: block;
    position: relative;
    font-size: 18px;
    color: black;
    width: 140px;
    height: 50px;
    line-height: 50px;
}

.nav_area > ul > li > a:after{
    content:"";
    position: absolute;
    left: 50%;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: rgb(55, 47, 161);
    transition: all .5s;
}

.nav_area > ul > li:hover > a:after{
    left: 0;
    width: 99%;
}

.nav_area > ul ul {
    position: absolute;
    text-align: center;
    width: 99%;
    padding-top: 20px;
    opacity: 0;
    transition: all 0.5s;
    height: 300px;
}

.nav_area > ul:hover ul{
    opacity: 1;
}

.nav_area > ul ul li{
    line-height: 35px;
}

.nav_area > ul ul a {
    position: relative;
    font-size: 14px;
    color: rgb(61, 61, 61);
    transition: all 0.5s;
}

.nav_area > ul ul a:hover {
    color: #01acd8;
    transition: color .3s;
}

.nav_area > ul ul a:after{
    content:"";
    position: absolute;
    width: 0;
    left: 50%;
    bottom: -7px;
    height: 2px;
    background-color: #01acd8;
    transition: all 0.5s;
}

.nav_area > ul ul a:hover:after {
    left: 0;
    width: 99%;
}





.top_banner {
    padding-bottom: 100px;
}

.top_banner input{
    display: none;
}

.top_banner .slidewrap {
    margin: 0 auto;
    overflow: hidden;
}

.top_banner .slidelist {
    white-space: nowrap;
    font-size: 0;
}

.top_banner .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
}

.top_banner .slidelist > li > a {
    display: block;
    position: relative;
}

.top_banner .slidelist > li > img {
    width: 100%;
}

.top_banner .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    cursor: pointer;
}

.top_banner .slidelist .left {
    left: 30px;
    background: url(https://www.getbarrel.com/assets/templet/enterprise/images/main/btn-mainslider-prev-white.png) center center / 100% no-repeat;
}

.top_banner .slidelist .right {
    right: 30px;
    background: url(https://www.getbarrel.com/assets/templet/enterprise/images/main/btn-mainslider-next-white.png) center center / 100% no-repeat;
}

.top_banner [id="slide01"]:checked ~ .slidewrap .slidelist  > li {
    transform: translateX(0%);
}

.top_banner [id="slide02"]:checked ~ .slidewrap .slidelist  > li {
    transform: translateX(-100%);
}

.top_banner [id="slide03"]:checked ~ .slidewrap .slidelist  > li {
    transform: translateX(-200%);
}






.best_item_area{
    padding-bottom: 100px;
}

.best_item_area .text_wrap{
    margin-bottom: 50px;
}

.best_item_area .text_wrap h2{
    float: left;
    font-size: 50px;
    margin-right: 10px;
}

.best_item_area .text_wrap span{
    float: left;
    font-size: 30px;
    margin-top: 23px;
}




.best_item_area .contents{
    position: relative;
    float: left;
    width: 335px;
    margin-right: 20px;
}

.best_item_area .contents:nth-child(2){
    margin: 50px 20px 0 0;
}

.best_item_area .contents:last-child {
    margin: 50px 0 0 0;
}

.best_item_area .contents:hover{
    content: "";
    background-color: rgb(0, 0, 0);
    transition: all .9s ease-in-out;
}

.best_item_area .contents > a{
    display: inline-block;
}

.best_item_area .contents > a::after{
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: all .35s;
}

.best_item_area .contents a > img{
    vertical-align: top;
}

.best_item_area .contents > a:hover::after{
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    opacity: 1;
    transition: all .35s;
}

.best_item_area .contents span{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.best_item_area .contents:hover span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: all .9s;
    z-index: 5;
    opacity: 1;
}

.best_item_area .contents strong{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00BCE7;
    border-radius: 50px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    color: black;
}

.best_item_area .contents:hover strong{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00BCE7;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 13px;
    transition: all .9s;
    text-align: center;
    line-height: 50px;
    opacity: 1;
    z-index: 5;
}






.video_area{
    margin-bottom: 100px;
    position: relative;
}

.video_area .content_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.video_area > img{
    vertical-align: top;
}

.video_area .text_wrap{
    color: white;
    padding-bottom: 100px;
}

.video_area strong{
    display: inline-block;
    color: rgb(255, 238, 2);
    margin-bottom: 20px;
    margin-right: 5px;
    font-size: 30px;
}

.video_area span{
    font-size: 30px;
}

.video_area .title_top{
    font-size: 70px;
    color: #71a9f8;
    font-weight: bolder;
    margin-bottom: -10px;
}

.video_area .title_bottom{
    font-size: 70px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.video_area .learn_more > a:hover{
    background-color: white;
    color: black;
}

.learn_more {
    padding: 20px 0;
}

.video_area a{
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 25px;
    display:inline-block;
}

.video_area > a:hover{
    background-color: white;
    color: black;
}

.video_area p{
    font-size: 26px;
}

.video_wrap{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-55%);
}

.video_wrap > iframe{
    vertical-align: top;
}










.new_product_area{
    margin-bottom: 100px;
}

.new_product_area .menu_area{
    padding-bottom: 50px;
    text-align: center;
}

.new_product_area h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.new_product_area .menu_area a{
    font-size: 25px;
    color: white;
    background-color: #00BCE7;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    padding: 10px 20px;
}

.new_product_area .menu_area > a:nth-child(2){
    margin: 0 20px;
}

.new_product_area img{
    vertical-align: top;
    object-fit: cover;
}









.life_style_area{
    margin-bottom: 100px;
}

.life_style_area .title{
    margin: 0 auto;
}

.life_style_area h2{
    float: left;
    font-size: 50px;
    margin-bottom: 30px;
}

.life_style_area .banner_top {
    margin-bottom: 50px;
}

.life_style_area .banner_top a{
    display: inline-block;
}

.life_style_area .banner_top img{
    vertical-align: top;
}

.life_style_area .banner_top .left{
    float: left;
    width: 951.5px;
}

.life_style_area .banner_top .right{
    float: right;
    width: 951.5px;
}



.product_area .content_box > ul > li{
    float: left;
    margin-right: 30px;
    position: relative;
}

.product_contents > a > img{
    vertical-align: top;
}

.product_contents > a{
    width: 327.5px;
    display: inline-block;
}

.product_area .content_box > ul > li:last-child{
    margin-right: 0px;
}

.goods_info{
    margin: 20px 0 20px 0;
}

.goods_info h4 > a{
    display: inline-block;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.goods_info > a {
    display: block;
    color: gray;
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #00BCE7;
}

.product_area .price_area > a{
    color: black;
    font-size: 20px;
}

.product_area .price_area span{
    float: right;
    color: black;
    font-size: 20px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 50px;
    padding: 5px 15px 4px 15px;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Staatliches';
    letter-spacing: 3px;
}

.product_area .price_area span:hover{
    float: right;
    color: rgb(255, 255, 255);
    background-color: #00BCE7;
    font-size: 20px;
    border: 1px solid #00BCE7;
    border-radius: 50px;
    padding: 5px 15px 4px 15px;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Staatliches';
    letter-spacing: 3px;
}

.heart{
    position: absolute;
    top: 2%;
    left: 85%;
}

.heart > a{
    display: inline-block;
}

.heart > a > img{
    vertical-align: top;
}





.user_area{
    margin-bottom: 200px;
}

.user_contents img{
    vertical-align: top;
}

.user_area .title_wrap{
    margin-bottom: 50px;
}

.user_area .title_wrap span{
    float: left;
    font-size: 30px;
    margin-top: 23px;
    margin-left: 770px;
}

.user_area .title_wrap h2{
    float: right;
    font-size: 50px;
}

.user_area .user_contents > ul > li{
    position: relative;
    float: left;
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.user_area .user_contents> ul > li span{
    color: white;
    position: absolute;
    top: 175px;
    left: 175px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    font-family: 'Lobster';
}

.user_area .user_contents > ul > li > a{
    display: inline-block;
    text-decoration: none;
    object-fit: cover;
    object-position: center center;
    height: 100%;
}

.user_area .user_contents{
    position: relative;
}

.user_area .user_contents ul > li > a::after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 188, 231, 0.6);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

.user_area .user_contents ul > li > a:hover::after{
    opacity: 1;
}

.user_area .user_contents ul > li > a:hover{
    transform: scale(1.1);
    transition: all .5s;
}







footer{
    background-color: rgb(32, 32, 32);
    padding: 100px 0;
}

footer .logo {
    width: 200px;
    margin-bottom: 30px;
}

footer .left_area{
    float: left;
}

footer .etc_info{
    margin-bottom: 30px;
}

footer .etc_info > a{
    display: inline-block;
    color: white;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
}

footer .etc_info > a:last-child{
    margin-right: 0px;
}

.desc_info {
    color: white;
    font-size: 15px;
    width: 550px;
    margin-bottom: 50px;
}

.desc_info p{
    float: left;
    margin-bottom: 5px;
    font-weight: 100;
}

.desc_info p::after{
    content:"ã…£";
    color: white;
    margin: 0 5px;
}

.desc_info p:nth-child(2):after{
    content:"";
}

.desc_info p:nth-child(4):after{
    content:"";
}

.desc_info p:nth-child(5):after{
    content:"";
}

.desc_info .text_wrap{
    margin-bottom: 40px;
}

.sns_area{
    border: 1px solid white;
    width: 350px;
    margin-bottom: 50px;
}

.sns_area .img_wrap{
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px 20px;
}

.sns_area .img_wrap:nth-child(2) img{
    height: 100%;
    width: 85%;
}

.support_area .img_wrap{
    width: 350px;
    margin-bottom: 10px;
}

.support_area p{
    color: rgb(97, 97, 97);
    font-size: 15px;
}

footer .right_area{
    float: right;
}

footer .right_area > ul > li{
    float: left;
    color: white;
}

footer .right_area > ul > li > h4{
    font-size: 18px;
    margin-bottom: 30px;
}

footer .right_area > ul > li:nth-child(2) > h4{
    margin-bottom: 20px;
}

footer .right_area > ul > li:first-child{
    margin-right: 50px;
    width: 137px;
}

footer .right_area > ul > li:first-child > a{
    width: 120px;
    font-weight: normal;
    display: inline-block;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

footer .right_area > ul > li:nth-child(2){
    width: 174px;
    margin-right: 50px;
}

footer .right_area > ul > li:nth-child(2) > span{
    color: #01acd8;
    font-size: 30px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}

footer .right_area > ul > li:nth-child(2) > p{
    width: 150px;
    font-weight: normal;
    display: inline-block;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

footer .right_area > ul > li:last-child{
    margin-right: 0;
}

footer .right_area > ul > li:last-child .img_wrap{
    width: 300px;
    margin-bottom: 20px;
}

footer .right_area > ul > li:last-child .text_wrap{
    width: 360px;
}

footer .right_area > ul > li:last-child .text_wrap > span{
    font-weight: normal;
    display: inline-block;
    color: #01acd8;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

footer .right_area > ul > li:last-child .text_wrap p{
    font-weight: normal;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}